.StickyBar {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    gap: 20px;

    list-style: none;
  }

  .view-cart {
    display: flex;
    gap: 20px;

    .left {
      position: relative;

      svg {
        height: 45px;
        width: auto;
      }

      div {
        color: orange;
        font-weight: bold;

        position: absolute;
        left: 22px;
        top: 7px;
      }
    }
  }
}
